@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);
}

header {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Slab", serif;
  min-height: 10rem;
  margin-bottom: 3rem;
  background-color: aliceblue;
  padding-bottom: 2rem;
}

main {
  display: flex;
  justify-content: center;
}

h4 {
  font-size: 0.8rem;
  color: white;
  align-items: flex-start;
  margin-bottom: 1rem;
  font-family: "Roboto Slab", serif;
}

.top-container {
  display: flex;
  max-width: 50%;
  margin-top: 2rem;
}

.bio h3 {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.profile-pic {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-top: 1rem;
}

.link-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 70vh;
  align-items: center;
  position: relative;
}

.link-container .col-1 a,
.link-container .col-2 a,
.link-container .col-3 div {
  font-family: "Roboto Slab", serif;
}

.col-1 a:hover,
.col-2 a:hover,
.col-3 div:hover,
.icons span:hover {
  scale: 1.1;
  transition: 0.5s;
  cursor: pointer;
}

.col-1,
.col-2,
.col-3 {
  display: flex;
  width: 80%;
  min-width: 19rem;
  flex-direction: column;
}

.col-1 a,
.col-2 a {
  background-color: #fff;
  border-radius: 2rem;
  margin: 0.7rem;
  height: 2.5rem;
  text-align: left;
  font-size: 0.9rem;
  box-shadow: 0px 9px 17px -11px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
}

.col-1 a:last-child {
  margin-bottom: 1.8rem;
}
.col-2 a:last-child {
  margin-bottom: 1.8rem;
}

.col-1 a span {
  padding-right: 0.7rem;
  padding-left: 0.6rem;
}

.col-1 a {
  padding-top: 0.4rem;
}

.col-2 a,
.col-3 div {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.col-2 a span {
  padding-right: 0.5rem;
}

.col-3 div {
  background-color: #fff;
  border-radius: 2rem;
  margin: 0.7rem;
  height: 2.5rem;
  text-align: left;
  font-size: 0.9rem;
  box-shadow: 0px 9px 17px -11px rgba(0, 0, 0, 0.1);
}

.col-3 div {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.col-3 div span {
  padding-right: 0.5rem;
}
